<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Service_Log"
        tools:targetApi="31"
        android:allowClearUserData="false"
        android:killAfterRestore="false"
        android:process="system">

<!--        <activity android:name=".activity.MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <service
            android:name=".service.GeneralService"
            android:enabled="true"
            tools:ignore="WrongManifestParent" />

        <receiver
            android:name=".receiver.RebootReceiver"
            android:enabled="true"
            android:exported="true">

            <!-- tools:ignore="IntentFilterExportedReceiver" -->

            <intent-filter>
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--                <category android:name="android.intent.category.HOME"/>-->

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>
        </receiver>
    </application>

</manifest>